header {
  background: #e9ecef;
  text-align: center;
  padding: 1em 0;
}

span {
  font-style: italic;
}

body {
  font-family: "Segoe UI";
}

img {
  float: left;
  margin-right: 1em;
}

main {
  display: flex;
  justify-content: center;
  width: 80%;
  float: left;
}

ul {
  list-style-type: none;
}

h6 {
  font-size: 40px;
  margin: 0px;
  font-style: normal;
}

nav li a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

nav li {
  padding: 5%;
  border-bottom: 1px solid #e9ecef;
}

nav {
  width: 20%;
  float: left;
}
